_cache
_cache/*
_*
*/_*
src/_*
obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn
reports
reports/*
/*.wrap
src/_mm_cache.bin
