obj
bin
bin/*
scratch
scratch/*
deploy
deploy/*
NDependOut
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn
*.pidb
*.user
*.ndproj
*.xls
*.htm
_*