_cache
_cache/*
_*
*/_*
src/_*
obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn

*.pidb
*.user
*.ndproj
*.xls
*.htm
_*

reports
reports/*
/*.wrap
.milestone
*.bin
*/*.bin
*.orig
*/*.orig
