<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<mm-GraphProvider>BUILTINDARK</mm-GraphProvider>
	<mm-MinimizerLevel>run</mm-MinimizerLevel>
	<mm-ProfilerSetup>RUN</mm-ProfilerSetup>
	<mm-RealtimeFeedback>false</mm-RealtimeFeedback>
	<mm-OverlayNotifications>true</mm-OverlayNotifications>
	<mm-BuildWarningsInFeedbackWindow>false</mm-BuildWarningsInFeedbackWindow>
	<mm-IgnoredTestsInFeedbackWindow>false</mm-IgnoredTestsInFeedbackWindow>
	<BuildExecutable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</BuildExecutable>
	<WhenWatchingSolutionBuildSolution>false</WhenWatchingSolutionBuildSolution>
	<ShouldIgnoreTestAssembly>
		<Assembly>Tests.VisualStudio</Assembly>
		<Assembly>Tests.VisualStudio.dll</Assembly>
	</ShouldIgnoreTestAssembly>
	<Debugging>false</Debugging>
</configuration>